public/flow/ws_find.json
[{"id":"b4f27c46.e505d","type":"websocket out","z":"4fbe569e.bb1a28","name":"web socket find - out","server":"18a3a4f3.9871ab","client":"","x":615.0000305175781,"y":114,"wires":[]},{"id":"ad570415.f6ec18","type":"websocket in","z":"4fbe569e.bb1a28","name":"web socket find - in","server":"18a3a4f3.9871ab","client":"","x":95,"y":115.00003051757812,"wires":[["7bfbe2fd.5ac15c"]]},{"id":"7bfbe2fd.5ac15c","type":"function","z":"4fbe569e.bb1a28","name":"Check WS Message","func":"node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    msg.payload = {id:\"init_end\",v:\"ok\"};\n\treturn [msg,null];  \n}else if(obj.id==\"find\"){\n    var mac = obj.v.mac;\n    var option = obj.v.option;\n    var date = obj.v.date;\n    msg.url = \"http://localhost:3000/todos/devices?mac=\"+mac+\"&option=\"+option+\"&mdate=\"+date;\n    node.warn(\"msg.url:\"+msg.url);\n    return [null,msg]; \n}\n","outputs":"2","noerr":0,"x":140,"y":174.99996185302734,"wires":[["e85629a9.9c88f8"],["e0ffcc0.a5b9038"]]},{"id":"e85629a9.9c88f8","type":"debug","z":"4fbe569e.bb1a28","name":"","active":true,"console":"false","complete":"payload","x":350.8369140625,"y":140.1145782470703,"wires":[]},{"id":"e0ffcc0.a5b9038","type":"http request","z":"4fbe569e.bb1a28","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":338,"y":182.11458587646484,"wires":[["d985726d.2e1a8"]]},{"id":"d985726d.2e1a8","type":"function","z":"4fbe569e.bb1a28","name":"Parse(view data)","func":"var rows = 0;\nvar debug = true;\nvar rows = msg.payload;\n\n//var type = context.global.selectedType;\nif(debug){\n    node.warn(\"Parse(view data)  length : \"+rows.length);\n    node.warn(\"Parse(view data)  type : \"+JSON.stringify(rows));\n}\nvar mItem = 1;\nvar array = [];\n//console.log( 'Last Device Information \\n '+JSON.stringify( mObj));\n\n\n\nfor (var i=0;i<rows.length;i++)\n{\n  array.push(getArray(rows[i],mItem));\n  mItem++;\n}\nvar dataString = JSON.stringify(array);\nif(array.length===0){\n    node.warn('empty array');\n    dataString =null;\n}\nif(debug){\n    node.warn('**** final array = '+dataString);\n}\n\nmsg.payload = {id:\"change_table\", v: dataString};\nreturn msg;\n\n\n//function----------------------------------------\nfunction getArray(obj,item){\n    var index = obj.index;\n    if(debug){\n        node.warn('getArray start ------------------------------');\n        node.warn('obj :'+JSON.stringify(obj));\n        node.warn('index :'+index);\n    }\n    var arr = [];\n    /*if(item<10){\n        arr.push('0'+item);\n    }else{\n        arr.push(item.toString());\n    }*/\n    \n\n    if(index === 'aa00'){\n        \n        arr.push(obj.info.temperature);\n        arr.push(obj.info.humidity);\n        if( obj.info.voltage < 350){\n            arr.push(low_power(obj.info.voltage));\n        }else{\n            arr.push(normal(obj.info.voltage));\n        }\n        //arr.push(obj.info.voltage);\n    }else if(type === 'aa01'){\n        arr.push(obj.information.pressure);\n        arr.push(obj.info.temperature);\n        arr.push(obj.info.humidity);\n        arr.push(obj.information.light);\n        arr.push(obj.info.uv);\n        arr.push(obj.info.rain);\n    }\n\n    arr.push(obj.time);\n    if(debug){\n         node.warn('arr = '+arr.length + '\\n'+JSON.stringify(arr));\n    }\n    return arr ;\n}\n\nfunction normal(v){\n    var normal = '<button type=\"button\" class=\"btn btn-success btn-sm\" >'+v+'(正常)</button>';\n    return normal;\n}\n\nfunction low_power(v){\n    var low_power = '<button type=\"button\" class=\"btn btn-danger btn-sm\" >'+v+'(低電壓)</button>';\n    return low_power;\n}\n","outputs":1,"noerr":0,"x":516,"y":182.11458587646484,"wires":[["b4f27c46.e505d"]]},{"id":"18a3a4f3.9871ab","type":"websocket-listener","z":"","path":"/ws/find","wholemsg":"false"}]