public/flow/ws_sample.json
[{"id":"cd5fe0e.9ae042","type":"websocket out","z":"185e883f.40e688","name":"web socket mobiUI - out","server":"dc99906b.1f25d","client":"","x":630,"y":154,"wires":[]},{"id":"fab5f2.58481a1","type":"websocket in","z":"185e883f.40e688","name":"web socket tools - in","server":"dc99906b.1f25d","client":"","x":151,"y":134.00003051757812,"wires":[["7217e1.ef9cb82"]]},{"id":"7217e1.ef9cb82","type":"function","z":"185e883f.40e688","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\n//node.warn('Check WS Message : '+ msg.payload +' , type : '+typeof(msg.payload));\ndelete msg.payload;\ndelete msg._session;\n//global\nvar deviceDbTools = context.global.deviceDbTools;\nvar moment = context.global.momentModule;\nvar debug = context.global.debug;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    var now = moment();\n\tvar from = moment().subtract(2, 'hours');\n\n\tvar json1 = {macAddr:'040004b8',\n\t\t\tindex:'aa01',\n            recv_at:{\n                $gte:from,\n                $lt:now\n            }\n    };\n    deviceDbTools.findDevices(json1,(err, devices) => {\n        if(err){\n\t\t\tnode.error(\"Error\"+err);\n\t\t}else{\n\t\t    node.warn('Index : aa01 -> '+devices.length);\n\t\t    var deviceStr = JSON.stringify(devices);\n    \t\tcontext.global.chartDevices = devices;\n\t\t}\n    });\n    msg.payload = {id:\"init_get_data\", v: 'ok' };\n\treturn msg;\n}\n","outputs":"1","noerr":0,"x":376,"y":134.99996948242188,"wires":[["cd5fe0e.9ae042","99c8aed2.b35b3"]]},{"id":"99c8aed2.b35b3","type":"debug","z":"185e883f.40e688","name":"","active":true,"console":"false","complete":"payload","x":605.8369140625,"y":105.11459350585938,"wires":[]},{"id":"dc99906b.1f25d","type":"websocket-listener","z":"","path":"/ws/index","wholemsg":"false"}]