.nodered/flows_960193-NB01.json
[{"id":"97b8552a.8ebc38","type":"tab","label":"MQTT_Save"},{"id":"99221a23.992fd8","type":"tab","label":"資料庫置換格式"},{"id":"c5ba51e1.58aca","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000206-generic-service99","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"6b386d05.5e3d24","type":"cloudant","z":"97b8552a.8ebc38","host":"https://hyper5798.cloudant.com","name":"MyCloudant"},{"id":"1744d5ad.58c47a","type":"ui_group","z":"97b8552a.8ebc38","name":"Group 1","tab":"3c33fd8c.0e4a72","order":1,"disp":true,"width":6},{"id":"cb7e363a.129da8","type":"ui_group","z":"97b8552a.8ebc38","name":"Group 1","tab":"f34f3ffd.8090b","order":1,"disp":true,"width":"6"},{"id":"6a076e0e.a2138","type":"ui_group","z":"","name":"溫度","tab":"97669efd.b5342","order":1,"disp":true,"width":"6"},{"id":"e94a9479.bee6a8","type":"ui_group","z":"","name":"壓力","tab":"97669efd.b5342","order":4,"disp":true,"width":"6"},{"id":"61576849.0a64e8","type":"ui_group","z":"","name":"照明","tab":"97669efd.b5342","order":6,"disp":true,"width":"6"},{"id":"d71983c9.4dbcb","type":"ui_group","z":"","name":"溼度","tab":"97669efd.b5342","order":2,"disp":true,"width":"6"},{"id":"6d027df5.03c9c4","type":"ui_group","z":"","name":"UV","tab":"97669efd.b5342","order":3,"disp":true,"width":"6"},{"id":"875629e5.bf3268","type":"ui_group","z":"","name":"雨滴","tab":"97669efd.b5342","order":5,"disp":true,"width":"6"},{"id":"97669efd.b5342","type":"ui_tab","z":"","name":"微型氣象站","icon":"dashboard","order":1},{"id":"7552ec81.820904","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"d348aab.87f2758","type":"function","z":"97b8552a.8ebc38","name":"samTagCheck","func":"//var payload = msg.payload;// for test\nvar debug = context.global.debug;\nvar test = false;\nvar payload = JSON.parse(msg.payload);  // for MQTT\n\nvar mData = payload.data;\nvar mMac  = payload.macAddr;\nvar mRecv = payload.recv;\nif(debug){\n    node.warn(\"payload type: \"+typeof(payload ));        //JSON Object\n    node.warn(\"msg.payload type: \"+typeof(msg.payload));//Message string\n    node.warn( 'recv:'+mRecv+',mac:'+mMac+',data:'+mData);\n}\nvar d = new Date(mRecv);\nvar min = d.getMinutes();\n\nvar mType =  mData.substring(0,4);\n//Get number of tag\nvar tmp =  mData.substring(4,6);\nvar mTag = parseInt(tmp,16)*100;//流水號:百位\nmTag = mTag + min;//分鐘:10位及個位\nvar key = mMac.concat(mType);\nvar tag = global.get(key);\nif(tag === undefined){\n        tag = 0;\n}\nif(!test){\n    if (Math.abs(tag - mTag)<2 || Math.abs(tag - mTag)==59){\n        console.log(' !!!! drop mTag=' +mTag+'(key:' +key + '):tag='+tag);\n        return ;\n    }else{\n        global.set(key,mTag);\n        console.log('**** switch mTag=' +mTag+'(key:' +key + '):tag='+tag +'=>'+mTag );\n    }\n}\n\n//filter sam tag------------------------------------------------------------------------------------------\n\nvar type_time = mType.concat(mMac);\nvar mIndex = 0;\n\n//Set combine init tinme\nif(mType == 'aa03'){\n    var timeStr = mMac.concat('aa03_time');\n    global.set(timeStr,mRecv);\n}else if(mType == 'aa01'){\n    var timeStr = mMac.concat('aa01_time');\n    global.set(timeStr,mRecv);\n}\n\n//Set switch index\nif(mType == 'aa00'){\n    mIndex  = 0;\n}else if(mType == 'aa03' || mType == 'aa04'  || mType == 'aa05'){\n    mIndex  = 1;\n}else if(mType == 'aa01' || mType == 'aa02'){\n    mIndex  = 2;\n}else{\n    return;\n}\n\nmsg.payload = {index:mIndex,mac:mMac,data:mData,recv:mRecv,type:mType};\n\nif(debug){\n    node.warn(\"samTagCheck return msg.payload : \\n\"+JSON.stringify(msg.payload ));        //JSON Object\n}\n\n\n/*msg.payload.gwip = payload.extra.gwip;\nmsg.payload.gwid = payload.extra.gwid;\nmsg.payload.repeater = payload.extra.repeater;\nmsg.payload.rssi = payload.extra.rssi;\nmsg.payload.snr = payload.extra.snr;\nmsg.payload.channel = payload.extra.channel;\nmsg.payload.fport = payload.extra.fport;\nmsg.payload.sf = payload.extra.sf;*/\nmsg.payload.overtime = false;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":642,"y":52,"wires":[["d47d1f01.73e5c"]]},{"id":"d47d1f01.73e5c","type":"switch","z":"97b8552a.8ebc38","name":"Device type switch","property":"payload.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","outputs":3,"x":144,"y":406,"wires":[["f94acf0.ca3a93"],["9d9323f6.65064"],["a533eb16.ba3738","1b4ecb86.b39224"]]},{"id":"9d9323f6.65064","type":"function","z":"97b8552a.8ebc38","name":"1.Combine PM2.5 data","func":"console.log('------------------index : 　1 combine weather data : '+msg.payload.data);\nvar firstInfo,combineData,secondInfo,thirdIno,target;\nvar mac = msg.payload.mac;\nvar firstInfoStr   = mac.concat('aa03_firstinfo');\nvar secondInfoStr  = mac.concat('aa03_secondInfo');\nvar thirdInoStr    = mac.concat('aa03_thirdIno');\nvar combineDataStr = mac.concat('aa03_combineData');\nvar targetStr      = mac.concat('aa03_target');\nvar timeStr        = mac.concat('aa03_time');\n\nvar dataString = msg.payload.data;\nvar type = dataString.substring(0,4);\nvar tag  = dataString.substring(4,6);\nvar info = dataString.substring(6,dataString.length);\n\nconsole.log('------------------index : 1 combine data :'+type);\n\ntarget = global.get(targetStr);\nif(target === undefined){\n    target = '';\n}\n\ncombineData = global.get(combineDataStr);\nif( combineData === undefined){\n    combineData = '';\n}\n\nfirstInfo = global.get(firstInfoStr);\nif( firstInfo === undefined){\n    firstInfo = '';\n}\n\nsecondInfo = global.get(secondInfoStr);\nif(  secondInfo === undefined){\n    secondInfo = '';\n}\n\nthirdIno = global.get(thirdInoStr);\nif(  thirdIno === undefined){\n    thirdIno = '';\n}\n//console.log('combineData:'+combineData+',1:'+firstInfo+',2:'+ secondInfo+',3:'+thirdIno);\nconsole.log('tag:'+tag+',target:'+target);\n\n/*\ncombine flow:\nreceive aa03: save firstInfo\nreceive aa04: save secondInfo\n              combine firstInfo and secondInfo to combineData\nreceive aa05: save thirdIno\n              combine combineData and thirdIno to combineData\n*/\n\nif(target !=  tag){\n\t//Reset target = tag;\n\tglobal.set(targetStr,tag);\n\t\n\tif(type == 'aa03'){\n\t\t\n\t\t//Save first info\n\t\t//console.log('aa03:save firstinfo : '+dataString+',length:'+dataString.length);\n\t\tglobal.set(firstInfoStr,dataString);\n\t\t\n\t\t//If not receive 'aa05'\n\t\tif(combineData !== '' && thirdIno!==''){\n\t\t\t//Combine 'aa05' loss data\n\t\t\tcombineData = combineData.concat(thirdIno);\n\t\t\t//Get init time for combine data\n\t\t\tvar aa03_time =  global.get(timeStr);\n\t\t\t//console.log('Get init time : '+aa03_time);\n\t\t\t//Save data\n\t\t\tif(combineData.length == 42 && aa03_time){\n                msg.payload.recv = aa03_time;\n\t\t\t    msg.payload.data = combineData;\n\t\t\t    msg.payload.type = 'aa03';\n\t\t\t    console.log('aa03: send combineData : '+combineData+',length:'+combineData.length);\n\t\t\t    //Reset combineData\n\t\t\t    global.set(combineDataStr,'');\n\t\t\t    //console.log('aa03: reset combineData empty');\n\t\t\t\treturn msg;\n\t\t\t}else{\n\t\t\t    //Reset combineData\n\t\t\t    global.set(combineDataStr,'');\n\t\t\t    console.log('aa03: reset combineData empty');\n\t\t\t}\n\t\t}\n\t\t\n\t}else if(type === 'aa04'){\n\t    //loss aa03 when target and tag is not same\n\t    secondInfo=info.substring(0,8);\n\t    //console.log('??? loss aa03 change recv'+msg.payload.recv);\n\t    global.set(timeStr,msg.payload.recv);\n\t\t//console.log('aa04: save secondInfo : '+secondInfo+',length:'+secondInfo.length);\n\t\tif(firstInfo !==''){\n\t\t    combineData = firstInfo.concat(secondInfo);\n\t\t    global.set(combineDataStr,combineData);\n\t\t    //console.log('aa04: save combineData : '+combineData+',length:'+combineData.length);\n\t\t}\n\t\t\n\t}else if(type === 'aa05'){\n\t    //loss aa03 & aa04 when target and tag is not same\n\t    thirdIno = info.substring(0,12);\n\t\t//console.log('aa05 thirdIno : '+thirdIno+',length:'+thirdIno.length);\n\t\tglobal.set(thirdInoStr,thirdIno);\n\t\t//There is svae firstInfo and secondInfo\n\t    if(firstInfo !=='' && secondInfo !==''){\n\t        //Combine 'aa04' data\n    \t    combineData = firstInfo.concat(secondInfo);\n    \t\t//Combine 'aa05' data\n    \t\tcombineData = combineData.concat(thirdIno);\n    \t\t//console.log('aa04 secondInfo : '+secondInfo+',length:'+secondInfo.length);\n\t    }\n\t    \n\t\tif(combineData.length == 42 && msg.payload.recv ){\n\t\t\t//console.log('??? loss aa03 & aa04 change recv'+msg.payload.recv);\n\t\t    msg.payload.data = combineData;\n\t\t    //msg.payload.recv = msg.payload.recv;\n\t\t    msg.payload.type = 'aa03';\n\t\t    //Reset combineData\n\t\t    global.set(combineDataStr,'');\n\t\t    //console.log('aa05: save combineData : empty');\n\t\t\treturn msg;\n\t\t}\n\t}\n}else{\n\tif(type === 'aa04'){\n\t\t//save secondInfo\n\t\tsecondInfo=info.substring(0,8);\n\t\t//console.log('aa04:save secondInfo : '+secondInfo+',length:'+secondInfo.length);\n\t\tglobal.set(secondInfoStr,secondInfo);\n\t    \n\t    if(firstInfo !=='' ){\n\t\t    //Ever receive aa03 then combine firstInfo and secondInfo\n\t\t    combineData = firstInfo.concat(secondInfo);\n\t\t}\n\t\t\n\t\tglobal.set(combineDataStr,combineData);\n\t\t//console.log('aa04: save combineData : '+combineData+',length:'+combineData.length);\n\t}else if(type === 'aa05'){\n\t    //Save thirdIno\n\t\tthirdIno = info.substring(0,12);\n\t\t//console.log('aa05:save thirdIno : '+thirdIno+',length:'+thirdIno.length);\n\t\tglobal.set(thirdInoStr,thirdIno);\n\t\t\n\t\tif(combineData.length>0 ){//Ever receive aa04\n\t\t\t//Combine 'aa05' data\n\t\t\tcombineData = combineData.concat(thirdIno);\n\t\t\t//console.log('aa05 has combineData ');\n\t\t}else if( firstInfo.length>0 && secondInfo.length>0){\n\t\t\t//loss aa03 & aa04 then Combine saved firstInfo and secondInfo data\n\t\t\tcombineData = firstInfo.concat(secondInfo);\n\t\t\t//Combine 'aa05' data\n\t\t\tcombineData = combineData.concat(thirdIno);\n\t\t\t//console.log('aa05 no combineData ');\n\t\t}\n\t\tconsole.log('aa05 combineData : '+combineData+',length:'+combineData.length);\n\t\t//console.log('data length : '+combineData.length);\n\t\t//Get init time for combine data\n\t\tvar aa03_time = global.get(timeStr);\n\t\t//console.log('Get init time : '+time);\n\t\t//Save data\n\t\tif(combineData.length == 42 && aa03_time ){\n\t\t\t\n\t\t    msg.payload.data = combineData;\n\t\t    console.log('aa05: send combineData : '+combineData+',length:'+combineData.length);\n\t\t    msg.payload.recv = aa03_time;\n\t\t    msg.payload.type = 'aa03';\n\t\t    //Reset combineData\n\t\t    global.set(combineDataStr,'');\n\t\t    //console.log('aa05: save combineData : empty');\n\t\t\treturn msg;\n\t\t}else{\n\t\t    //Reset combineData\n\t\t    global.set(combineDataStr,'');\n\t\t    //console.log('aa05: save combineData : empty');\n\t\t    return;\n\t\t}\n\t}\n\treturn;\n}\n","outputs":1,"noerr":0,"x":402.9999694824219,"y":392,"wires":[["3ce88ba4.7b2904"]]},{"id":"f94acf0.ca3a93","type":"function","z":"97b8552a.8ebc38","name":"0.溫濕度裝置信息","func":"var debug = context.global.debug;\nif(debug){\n    console.log('------------------index : 0 parse data');\n}\n\nvar mInfomation = {};\nvar dataString = msg.payload.data;\n\nvar length = dataString.length;\nif(dataString.length<18){\n    return;\n}\n\nvar test = parseInt(dataString.substring(0,4),16);//AA01(16) -> 43`521(10)\nif(debug){\n    console.log('dataString :'+dataString);\n    console.log('dataString.substring(0,4):'+dataString.substring(0,4) + ' , number = '+ test);\n}\n\n\nvar mTemperature = parseInt(dataString.substring(6,10),16)/100;\nvar mHumidity = parseInt(dataString.substring(10,14),16)/100;\nvar mVoltage = parseInt(dataString.substring(14,18),16);\n\nmInfomation.temperature = mTemperature;\nmInfomation.humidity    = mHumidity;\nmInfomation.voltage     = mVoltage;\nconsole.log('infomation :' + JSON.stringify(mInfomation));\n\nmsg.payload.info = mInfomation;\n\nreturn msg;","outputs":1,"noerr":0,"x":395.9999694824219,"y":342,"wires":[["b38317ab.80b958"]]},{"id":"3ce88ba4.7b2904","type":"function","z":"97b8552a.8ebc38","name":"PM2.5裝置信息","func":"console.log('------------------index : 1 parse data:'+msg.payload.data);\nvar mInfomation = {};\nvar dataString = msg.payload.data;\nvar length = dataString.length;\nif(dataString.length!==42){\n    return;\n}\n\nvar mFormaldehyde = parseInt(dataString.substring(6,14),16)/100;//甲醛\nvar mCO2 = parseInt(dataString.substring(14,18),16);　          //二氧化碳\nvar mTemperature = parseInt(dataString.substring(18,22),16)/100;//溫度\nvar mHumidity = parseInt(dataString.substring(22,26),16)/100;   //濕度\nvar mCO = parseInt(dataString.substring(26,30),16);　           //一氧化碳\nvar mHumidity = parseInt(dataString.substring(22,26),16)/100;   //濕度\nvar mCO = parseInt(dataString.substring(26,30),16);　           //一氧化碳\nvar mPM10 = parseInt(dataString.substring(30,34),16)/10;        //PM10\nvar mPM25 = parseInt(dataString.substring(34,38),16)/10;        //PM2.5\nvar mTVOC = parseInt(dataString.substring(38,42),16)/1000;      //揮發性有機物\n\n\nmInfomation.frmaldehyde = mFormaldehyde;\nmInfomation.co2          = mCO2;\nmInfomation.temperature  = mTemperature;\nmInfomation.humidity     = mHumidity;\nmInfomation.co           = mCO;\nmInfomation.pm10         = mPM10;\nmInfomation.pm25         = mPM25;\nmInfomation.tvoc         = mTVOC;\n\nconsole.log('infomation :' + JSON.stringify(mInfomation));\n\nmsg.payload.info  = mInfomation;\n\nreturn msg;","outputs":1,"noerr":0,"x":405.9999694824219,"y":438,"wires":[[]]},{"id":"a533eb16.ba3738","type":"function","z":"97b8552a.8ebc38","name":"2.Combine 氣象裝置data","func":"var firstInfo,combineData,secondInfo,target;\nvar mac = msg.payload.mac;\nvar firstInfoStr   = mac.concat('aa01_firstinfo');\nvar secondInfoStr  = mac.concat('aa01_secondInfo');\nvar combineDataStr = mac.concat('aa01_combineData');\nvar targetStr      = mac.concat('aa01_target');\nvar timeStr        = mac.concat('aa01_time');\nvar dataString = msg.payload.data;\nvar type = dataString.substring(0,4);\nvar tag  = dataString.substring(4,6);\nvar info = dataString.substring(6,dataString.length);\nconsole.log('------------------index : 2 combine data:'+type);\n\ntarget = global.get(targetStr);\nif(target === undefined){\n    target = '';\n}\n\ncombineData = global.get(combineDataStr);\nif( combineData === undefined){\n    combineData = '';\n}\n\nfirstInfo = global.get(firstInfoStr);\n//console.log('firstInfo:'+firstInfo);\nif( firstInfo === undefined){\n    firstInfo = '';\n}\n\nsecondInfo = global.get(secondInfoStr);\nif(  secondInfo === undefined){\n    secondInfo = '';\n}\n\n\nconsole.log('combineData:'+combineData+',1:'+firstInfo+',2:'+ secondInfo);\nconsole.log('tag:' + tag + ',target:'+target);\n\n/*\ncombine flow:\nreceive aa01: save firstInfo\n              combine = firstInfo\n              save combine for verify receive aa02 or not\nreceive aa02: save secondInfo\n              combine firstInfo and secondInfo to combineData\n*/\n\nif(target !=  tag){\n\t//Reset target = tag;\n\tglobal.set(targetStr,tag);\n\t\n\tif(type == 'aa01'){\n\t\t\n\t\t//Save first info\n\t\t//console.log('aa01:save firstinfo : '+dataString+',length:'+dataString.length);\n\t\tglobal.set(firstInfoStr,dataString);\n\t\t\n\t\t//If not receive 'aa02'\n\t\tif(combineData !== '' && secondInfo!==''){\n\t\t\t//Combine 'aa02' loss data\n\t\t\tcombineData = combineData.concat(secondInfo);\n\t\t\t//Get init time for combine data\n\t\t\tvar aa01_time =  global.get(timeStr);\n\t\t\t//console.log('Get init time : '+aa01_time);\n\t\t\t//Save data\n\t\t\tif(combineData.length == 30 && aa01_time){\n                msg.payload.recv = aa01_time;\n\t\t\t    msg.payload.data = combineData;\n\t\t\t    msg.payload.type = 'aa01';\n\t\t\t    //console.log('aa01: send combineData : '+combineData+',length:'+combineData.length);\n\t\t\t    //Reset combineData\n\t\t\t    global.set(combineDataStr,'');\n\t\t\t    //console.log('aa01: reset combineData empty');\n\t\t\t\treturn msg;\n\t\t\t}\n\t\t}\n\t\t//Reset combineData\n\t    global.set(combineDataStr,dataString);\n\t    //console.log('aa01: set combineData combineData');\n\t\t\n\t}else if(type === 'aa02'){\n\t    //loss aa01 when target and tag is not same\n\t    secondInfo=info.substring(0,8);\n\t    //console.log('??? loss aa01 change recv'+msg.payload.recv);\n\t    global.set(timeStr,msg.payload.recv);\n\t\t//console.log('aa02: save secondInfo : '+secondInfo+',length:'+secondInfo.length);\n\t\tif(firstInfo !==''){\n\t\t    combineData = firstInfo.concat(secondInfo);\n\t\t    //console.log('aa02: send combineData : '+combineData+',length:'+combineData.length);\n\t\t}\n\t\tif(combineData.length == 30 && msg.payload.recv ){\n\t\t\t//console.log('??? loss aa01 change recv'+msg.payload.recv);\n\t\t    msg.payload.data = combineData;\n\t\t    //msg.payload.recv = msg.payload.recv;\n\t\t    msg.payload.type = 'aa01';\n\t\t    //Reset combineData\n\t\t    global.set(combineDataStr,'');\n\t\t    //console.log('aa02: save combineData : empty');\n\t\t\treturn msg;\n\t\t}else{\n\t\t    //Reset combineData\n\t\t    global.set(combineDataStr,'');\n\t\t    //console.log('aa02: save combineData : empty');\n\t\t}\n\t}\n}else{\n\tif(type === 'aa02'){\n\t\t//save secondInfo\n\t\tsecondInfo=info.substring(0,8);\n\t\t//console.log('aa02:save secondInfo : '+secondInfo+',length:'+secondInfo.length);\n\t\tglobal.set(secondInfoStr,secondInfo);\n\t    \n\t    if(combineData !=='' ){\n\t\t    //Ever receive aa01 then combine firstInfo and secondInfo\n\t\t    combineData = combineData.concat(secondInfo);\n\t\t}\n\t\t\n\t\tvar aa01_time =  global.get(timeStr);\n\t\t//console.log('timeStr:'+timeStr+',time:'+aa01_time);\n\t\t//console.log('aa02:save  combineData : '+ combineData+',length:'+ combineData.length);\n\t\t\n\t\tif(combineData.length == 30 && aa01_time ){\n\t\t\t\n\t\t    msg.payload.data = combineData;\n\t\t    //console.log('aa02: send combineData : '+combineData+',length:'+combineData.length);\n\t\t    msg.payload.recv = aa01_time;\n\t\t    msg.payload.type = 'aa01';\n\t\t    //Reset combineData\n\t\t    global.set(combineDataStr,'');\n\t\t    //console.log('aa02: save combineData : empty');\n\t\t\treturn msg;\n\t\t}else{\n\t\t    //Reset combineData\n\t\t    global.set(combineDataStr,'');\n\t\t    //console.log('aa02: no send data save combineData : empty');\n\t\t    return;\n\t\t}\n\t}\n\treturn;\n}\n","outputs":1,"noerr":0,"x":369.99993896484375,"y":514,"wires":[["e204dbb9.2d70c8"]]},{"id":"21764c79.2215a4","type":"debug","z":"97b8552a.8ebc38","name":"","active":false,"console":"true","complete":"payload","x":814.5714111328125,"y":338.8571472167969,"wires":[]},{"id":"e204dbb9.2d70c8","type":"function","z":"97b8552a.8ebc38","name":"氣象裝置信息","func":"console.log('------------------index : 　2 parse data : '+msg.payload.data);\nvar mInfomation = {};\nvar dataString = msg.payload.data;\n\nif(dataString.length!==30){\n    return;\n}\n\nvar mPressure = parseInt(dataString.substring(6,10),16);\nvar mHight = parseInt(dataString.substring(10,14),16);    　//氣壓\nvar mTemperature = parseInt(dataString.substring(14,16),16);   //溫度\nvar mHumidity = parseInt(dataString.substring(16,18),16);      //濕度\nvar mLight = parseInt(dataString.substring(18,22),16);         //照明\nvar mUV = parseInt(dataString.substring(22,26),16);            //紫外線\nvar mRain = parseInt(dataString.substring(26,30),16);          //雨滴\n\nmInfomation.pressure     = mPressure;\nmInfomation.temperature  = mTemperature;\nmInfomation.humidity     = mHumidity;\nmInfomation.light        = mLight;\nmInfomation.uv           = mUV ;\nmInfomation.rain         = mRain;\n\nconsole.log('infomation :' + JSON.stringify(mInfomation));\n\nmsg.payload.info  = mInfomation;\n//console.log('payload:'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":604.5,"y":517,"wires":[["3d142293.07736e","65080634.d260c8","cfd26d88.b597a","e042b4d4.ab0238","4d486b1c.ebf264","d12077b4.f34f98","b38317ab.80b958"]]},{"id":"245fdcb7.744cb4","type":"mqtt in","z":"97b8552a.8ebc38","name":"MQTT_200000206","topic":"client/200000206/200000206-GIOT-MAKER","qos":"2","broker":"c5ba51e1.58aca","x":95,"y":56,"wires":[["2cc1999d.1011a6","d348aab.87f2758"]]},{"id":"b38317ab.80b958","type":"function","z":"97b8552a.8ebc38","name":"Get Timestamp","func":"var debug = context.global.debug;\n\nvar timestamp = new Date(msg.payload.recv).getTime();\nmsg.payload.timestamp = timestamp;\ndelete msg.payload.index;\ncontext.global.devices[msg.payload.mac] = msg.payload;\nif(debug){\n    node.warn(\"Get Timestamp\");\n    node.warn('final payload : \\n'+JSON.stringify(msg.payload));\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":635,"y":340,"wires":[["21764c79.2215a4","39e0b23c.0f3eae"]]},{"id":"cfd26d88.b597a","type":"function","z":"97b8552a.8ebc38","name":"tempature","func":"\nmsg= {payload:msg.payload.info.temperature};\n\nreturn msg;","outputs":"1","noerr":0,"x":838.7142219543457,"y":793.3571500778198,"wires":[["c5da1f65.95aa6","c2233119.00e3f"]]},{"id":"e042b4d4.ab0238","type":"function","z":"97b8552a.8ebc38","name":"humidity","func":"\nmsg= {payload:msg.payload.info.humidity};\n\nreturn msg;","outputs":"1","noerr":0,"x":838.5713653564453,"y":862.6428833007812,"wires":[["a0360e93.eada","bce5a159.4f089"]]},{"id":"a22159d7.c9c758","type":"function","z":"97b8552a.8ebc38","name":"voltage","func":"\nmsg= {payload:msg.payload.information.voltage};\n\nreturn msg;","outputs":"1","noerr":0,"x":999.2141723632812,"y":321.5714111328125,"wires":[["7839eba3.ffa7b4"]]},{"id":"7839eba3.ffa7b4","type":"switch","z":"97b8552a.8ebc38","name":"low voltage","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"500","vt":"str"}],"checkall":"true","outputs":1,"x":1150.4998779296875,"y":318.71429443359375,"wires":[["75b44767.b20a18"]]},{"id":"75b44767.b20a18","type":"template","z":"97b8552a.8ebc38","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"電壓: {{payload}} 過低!","x":1296.678466796875,"y":319.1428527832031,"wires":[["d101200e.0b1b7"]]},{"id":"d101200e.0b1b7","type":"ui_toast","z":"97b8552a.8ebc38","position":"top right","displayTime":"3","outputs":0,"ok":"","cancel":"","topic":"","name":"","x":1453.2142333984375,"y":320.6428527832031,"wires":[]},{"id":"2cc1999d.1011a6","type":"debug","z":"97b8552a.8ebc38","name":"","active":false,"console":"false","complete":"payload","x":273.00001525878906,"y":20,"wires":[]},{"id":"1b4ecb86.b39224","type":"debug","z":"97b8552a.8ebc38","name":"","active":false,"console":"false","complete":"false","x":110.14285278320312,"y":535.8571157455444,"wires":[]},{"id":"3d142293.07736e","type":"function","z":"97b8552a.8ebc38","name":"pressure","func":"\nmsg= {payload:msg.payload.info.pressure};\n\nreturn msg;","outputs":"1","noerr":0,"x":833.7713165283203,"y":694.0714044570923,"wires":[["2d55f8a1.67be48","2808248b.ef86cc"]]},{"id":"65080634.d260c8","type":"function","z":"97b8552a.8ebc38","name":"light","func":"\nmsg= {payload:msg.payload.info.light};\n\nreturn msg;","outputs":"1","noerr":0,"x":827.9141120910645,"y":738.3571462631226,"wires":[["a6445f59.ff727","74fed22a.6bcb8c"]]},{"id":"4d486b1c.ebf264","type":"function","z":"97b8552a.8ebc38","name":"rain","func":"\nmsg= {payload:(1023-msg.payload.info.rain)};\n\nreturn msg;","outputs":"1","noerr":0,"x":832.4642791748047,"y":1008.107177734375,"wires":[["3d39d031.3f607","bc5fdc26.f3d07"]]},{"id":"d12077b4.f34f98","type":"function","z":"97b8552a.8ebc38","name":"uv","func":"\nmsg= {payload:msg.payload.info.uv};\n\nreturn msg;","outputs":"1","noerr":0,"x":833.7499504089355,"y":938.821455001831,"wires":[["3fac7abf.70b706","67e4c035.acaeb"]]},{"id":"c5da1f65.95aa6","type":"ui_gauge","z":"97b8552a.8ebc38","name":"溫度表","group":"6a076e0e.a2138","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"度","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"x":1272.0714683532715,"y":782.7499732971191,"wires":[]},{"id":"c2233119.00e3f","type":"ui_chart","z":"97b8552a.8ebc38","name":"線性圖","group":"6a076e0e.a2138","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1272.3572692871094,"y":818.8928737640381,"wires":[[],[]]},{"id":"2d55f8a1.67be48","type":"ui_gauge","z":"97b8552a.8ebc38","name":"壓力表","group":"e94a9479.bee6a8","order":0,"width":0,"height":0,"gtype":"compass","title":"","label":"mb","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"x":1271.8650550842285,"y":636.2734394073486,"wires":[]},{"id":"2808248b.ef86cc","type":"ui_chart","z":"97b8552a.8ebc38","name":"線性圖","group":"e94a9479.bee6a8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"950","ymax":"1100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1270.150733947754,"y":671.5590667724609,"wires":[[],[]]},{"id":"a6445f59.ff727","type":"ui_gauge","z":"97b8552a.8ebc38","name":"照明表","group":"61576849.0a64e8","order":0,"width":0,"height":0,"gtype":"wave","title":"","label":"lux","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"x":1269.2935943603516,"y":710.4162864685059,"wires":[]},{"id":"74fed22a.6bcb8c","type":"ui_chart","z":"97b8552a.8ebc38","name":"照明線性圖","group":"61576849.0a64e8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1289.8652572631836,"y":743.9877510070801,"wires":[[],[]]},{"id":"a0360e93.eada","type":"ui_gauge","z":"97b8552a.8ebc38","name":"濕度表","group":"d71983c9.4dbcb","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":1272.9286546707153,"y":877.7499809265137,"wires":[]},{"id":"bce5a159.4f089","type":"ui_chart","z":"97b8552a.8ebc38","name":"濕度線性圖","group":"d71983c9.4dbcb","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1293.5000915527344,"y":912.75,"wires":[[],[]]},{"id":"3fac7abf.70b706","type":"ui_gauge","z":"97b8552a.8ebc38","name":"UV表","group":"6d027df5.03c9c4","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"x":1273.0148887634277,"y":947.4325313568115,"wires":[]},{"id":"67e4c035.acaeb","type":"ui_chart","z":"97b8552a.8ebc38","name":"UV線性圖","group":"6d027df5.03c9c4","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1281.8721351623535,"y":982.146824836731,"wires":[[],[]]},{"id":"3d39d031.3f607","type":"ui_gauge","z":"97b8552a.8ebc38","name":"雨滴表","group":"875629e5.bf3268","order":0,"width":0,"height":0,"gtype":"wave","title":"","label":"","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"x":1272.4436683654785,"y":1016.7181663513184,"wires":[]},{"id":"bc5fdc26.f3d07","type":"ui_chart","z":"97b8552a.8ebc38","name":"雨滴線性圖","group":"875629e5.bf3268","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1290.1577796936035,"y":1051.7182788848877,"wires":[[],[]]},{"id":"2d2d8281.b96b7e","type":"function","z":"97b8552a.8ebc38","name":"Get finalList","func":"//node.warn('@@@ save paylaod:');\nvar payload = context.global.devices;\nnode.warn('@@@Get finalList save paylaod :\\n'+JSON.stringify(payload));\nmsg.payload = payload;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":288.857177734375,"y":680,"wires":[["ca549ca5.0a153"]]},{"id":"ca549ca5.0a153","type":"file","z":"97b8552a.8ebc38","name":"Write File","filename":"public\\data\\finalList.json","appendNewline":true,"createDir":true,"overwriteFile":"true","x":456.857177734375,"y":682,"wires":[]},{"id":"39e0b23c.0f3eae","type":"function","z":"97b8552a.8ebc38","name":"Save Data","func":"var debug = context.global.debug;\nvar deviceDbTools = context.global.deviceDbTools;\nvar obj = msg.payload;\nnode.warn('final payload : \\n'+JSON.stringify(obj));\ndeviceDbTools.saveDeviceInfo(obj.mac,obj.data,obj.info,obj.recv,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        deviceDbTools.findLastDeviceByMac(obj.mac,function(err,device){\n\t\tif(err){\n\t\t\tnode.warn(err);\n\t\t}\n\t\tif(device){\n\t\t\tnode.warn('new device : \\n'+device);\n\t\t}\n\t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":799,"y":423,"wires":[[]]},{"id":"7575bd91.038164","type":"inject","z":"97b8552a.8ebc38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":100,"y":111,"wires":[["f2556b2a.220408"]]},{"id":"f2556b2a.220408","type":"function","z":"97b8552a.8ebc38","name":"aa00 tes","func":"\nvar payload = {\"id\":\"ce5d3b77-97b3-4740-90f5-0ff7347993f5\",\"macAddr\":\"04000490\",\"data\":\"aa00760a8d148a0205\",\"buff\":\"2017-01-14T08:35:56.264Z\",\"recv\":\"2017-01-14T08:35:56.000Z\",\"extra\":{\"gwip\":\"192.168.88.193\",\"gwid\":\"00001c497b3b8140\",\"repeater\":\"00000000ffffffff\",\"systype\":4,\"rssi\":-104,\"snr\":20.5}};\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"noerr":0,"x":257.6666564941406,"y":109.66667175292969,"wires":[["d348aab.87f2758"]]},{"id":"ffc6b8f3.7a7d68","type":"function","z":"97b8552a.8ebc38","name":"get data","func":"var payload = msg.payload;\nvar mData = payload.data;\nvar mMac = payload.macAddr;\nvar mRecv =  payload.recv;\n\nvar mType =  mData.substring(0,4);\nvar mIndex = 0;\n//Set switch index\nif(mType == 'aa00'){\n    mIndex  = 0;\n}else if(mType == 'aa03' || mType == 'aa04'  || mType == 'aa05'){\n\tmIndex  = 1;\n}else if(mType == 'aa01' || mType == 'aa02'){\n\tmIndex  = 2;\n}else{\n    return;\n}\nmsg.payload = {index:mIndex,mac:mMac,data:mData,recv:mRecv,type:mType};\nnode.warn('get data : '+JSON.stringify(msg.payload));\nreturn msg;\n","outputs":1,"noerr":0,"x":418,"y":154,"wires":[["d47d1f01.73e5c"]]},{"id":"529c5369.a3440c","type":"inject","z":"97b8552a.8ebc38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":87,"y":155,"wires":[["40e947e8.cb3528"]]},{"id":"40e947e8.cb3528","type":"function","z":"97b8552a.8ebc38","name":"aa01 test","func":"msg.payload = {\"id\":\"6a999346-b033-464f-8211-acd2698f4e48\",\"macAddr\":\"040004b8\",\"data\":\"aa014d03f00028185400bd\",\"buff\":\"2017-01-12T04:18:23.197Z\",\"recv\":\"2017-01-12T04:18:22.000Z\",\"extra\":{\"gwip\":\"134.208.228.18\",\"gwid\":\"00001c497b431fa9\",\"repeater\":\"00000000ffffffff\",\"systype\":4,\"rssi\":-107,\"snr\":16.2}};\nreturn msg;","outputs":1,"noerr":0,"x":227,"y":155,"wires":[["ffc6b8f3.7a7d68"]]},{"id":"4b952c52.367df4","type":"inject","z":"97b8552a.8ebc38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":86,"y":194,"wires":[["692e043e.aa3c6c"]]},{"id":"692e043e.aa3c6c","type":"function","z":"97b8552a.8ebc38","name":"aa02 test","func":"msg.payload = {\"id\":\"f433e770-3ab3-4e8c-a47a-f6c743a5cef8\",\"macAddr\":\"040004b8\",\"data\":\"aa024d000903f5\",\"buff\":\"2017-01-12T04:19:36.514Z\",\"recv\":\"2017-01-12T04:19:36.000Z\",\"extra\":{\"gwip\":\"134.208.228.18\",\"gwid\":\"00001c497b431fa9\",\"repeater\":\"00000000ffffffff\",\"systype\":4,\"rssi\":-108,\"snr\":15.5}};\nreturn msg;","outputs":1,"noerr":0,"x":229,"y":194,"wires":[["ffc6b8f3.7a7d68"]]},{"id":"25ba0d4a.a287c2","type":"inject","z":"99221a23.992fd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128,"y":91,"wires":[["45474077.a6aa2"]]},{"id":"45474077.a6aa2","type":"function","z":"99221a23.992fd8","name":"update Info","func":"var deviceDbTools = context.global. deviceDbTools;\nvar moment = context.global.momentModule;\n\n\n\n\ndeviceDbTools.findAllDevices(function(err,devices){\n    if(err){\n        console.log(err);\n    }\n    for(var i = 0; i < devices.length; i++){\n        //console.log('devices ('+i+'): '+devices[i]);\n        if(isTarget(devices[i])){\n            if(devices[i].info.data0){\n                //console.log('info : '+devices[i].info);\n                updateDevice(devices[i]);\n            }else{\n                delDeviceById(devices[i]);\n            }\n        }\n        //break;\n    }\n});\n\nfunction isTarget(device){\n    var data = device.data;\n    var type = data.substring(0,4);\n    if(type === 'aa00'){\n        return true;\n    }else{\n        return false;\n    }\n}\n\nfunction updateDevice(device){\n    var mInfo = {};\n    //console.log('@@@@ device info:'+JSON.stringify(device.info));\n    var mData = device.data;\n    var mType =  mData.substring(0,4);\n    if(mType === 'aa00'){\n        mInfo.temperature  = device.info.data0;\n        mInfo.humidity     = device.info.data1;\n        mInfo.voltage      = device.info.data2;\n    }else if(mType === 'aa03'){\n        mInfo.frmaldehyde  = device.info.data0;\n        mInfo.co2          = device.info.data1;\n        mInfo.temperature  = device.info.data2;\n        mInfo.humidity     = device.info.data3;\n        mInfo.co           = device.info.data4;\n        mInfo.pm10         = device.info.data5;\n        mInfo.pm25         = device.info.data6;\n        mInfo.tvoc         = device.info.data7;\n    }else if(mType === 'aa01'){\n        mInfo.pressure     = device.info.data0;\n        mInfo.temperature  = device.info.data1;\n        mInfo.humidity     = device.info.data2;\n        mInfo.light        = device.info.data3;\n        mInfo.uv           = device.info.data4;\n        mInfo.rain         = device.info.data5;\n    }\n    var momObj = moment(device.recv_at);\n    var mTime =  momObj.format('YYYY-MM-DD HH:mm:ss');\n    var json = {info:mInfo,time:mTime};\n    deviceDbTools.updateDeviceData(device._id,json);\n}\n\nfunction saveDevice(device){\n    console.log('mac : '+ device.macAddr);\n    console.log('data : '+ device.data);\n    console.log('recv_at : '+ device.recv_at);\n    deviceDbTools.saveDevice(device.macAddr,device.data,device.recv_at,function(err,info){\n        console.log('Debug save Device -----------------------------');\n        if(err){\n            console.log('Debug save Device fail : '+err);\n            return;\n        }\n        console.log('Debug save Device success ');\n        console.log('Debug info.voltage : '+info.data4);\n    });\n    delDeviceById(device._id);\n}\n\nfunction delDeviceById(device){\n    var _id = device._id;\n    console.log('_id : '+ _id);\n    deviceDbTools.removeDeviceById(_id,function(err,result){\n        console.log('Debug remove Device By Id -----------------------------');\n        if(err){\n            console.log('Debug remove Device By Id fail : '+err);\n        }\n        console.log('Debug remove Device By Id success ');\n    });\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":317.75,"y":93.5,"wires":[[]]},{"id":"20936273.8cda9e","type":"inject","z":"97b8552a.8ebc38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":762,"wires":[["e2098f9b.4eb1b"]]},{"id":"e2098f9b.4eb1b","type":"function","z":"97b8552a.8ebc38","name":"Clean final List","func":"context.global.devices = {};\n","outputs":1,"noerr":0,"x":283,"y":762,"wires":[[]]},{"id":"d08df65c.794a18","type":"inject","z":"97b8552a.8ebc38","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":109,"y":681,"wires":[["2d2d8281.b96b7e"]]},{"id":"d37170de.80a8d","type":"comment","z":"97b8552a.8ebc38","name":"Save final list to file per 5 minutes (auto)","info":"","x":177,"y":645,"wires":[]},{"id":"657bb73f.b43498","type":"comment","z":"97b8552a.8ebc38","name":"Clean gobal final List by manul","info":"","x":147,"y":727,"wires":[]}]