.nodered/flows_Jason-PC.json
[{"id":"82925184.363af","type":"tab","label":"MQTT"},{"id":"4fbe569e.bb1a28","type":"tab","label":"WS Listen"},{"id":"37232aee.727b46","type":"tab","label":"Flow 2"},{"id":"c7a3ba33.c5db78","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000206-generic-service41","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"bae05f18.96c6d","type":"ui_group","z":"","name":"溫度","tab":"2893c4c8.cb4eac","order":1,"disp":true,"width":"6"},{"id":"a9c23cf1.97bce","type":"ui_group","z":"","name":"壓力","tab":"2893c4c8.cb4eac","order":4,"disp":true,"width":"6"},{"id":"2234f3b4.78b5dc","type":"ui_group","z":"","name":"照明","tab":"2893c4c8.cb4eac","order":6,"disp":true,"width":"6"},{"id":"e4958dd5.76b27","type":"ui_group","z":"","name":"溼度","tab":"2893c4c8.cb4eac","order":2,"disp":true,"width":"6"},{"id":"8bc6091.41f15f8","type":"ui_group","z":"","name":"UV","tab":"2893c4c8.cb4eac","order":3,"disp":true,"width":"6"},{"id":"529b3da5.f9c5e4","type":"ui_group","z":"","name":"雨滴","tab":"2893c4c8.cb4eac","order":5,"disp":true,"width":"6"},{"id":"2893c4c8.cb4eac","type":"ui_tab","z":"","name":"微型氣象站","icon":"dashboard","order":1},{"id":"18a3a4f3.9871ab","type":"websocket-listener","z":"","path":"/ws/find","wholemsg":"false"},{"id":"17515aa5.314175","type":"function","z":"82925184.363af","name":"氣象裝置02信息","func":"node.warn('msg.payload.information:'+JSON.stringify( msg.payload.information) );\nmsg.payload = msg.payload.information;\nreturn msg;","outputs":1,"noerr":0,"x":628.5000686645508,"y":312.99999237060547,"wires":[["ce6d37c9.6fe898","bbdfadab.a271a"]]},{"id":"afe40bf7.3919f8","type":"mqtt in","z":"82925184.363af","name":"MQTT_200000206","topic":"client/200000206/200000206-GIOT-MAKER","qos":"2","broker":"c7a3ba33.c5db78","x":107,"y":50,"wires":[["c6827fd7.15c19","8197a4ce.713458"]]},{"id":"63b60758.018ec8","type":"function","z":"82925184.363af","name":"tempature","func":"\nmsg= {payload:msg.payload.temperature};\n\nreturn msg;","outputs":"1","noerr":0,"x":821.7142372131348,"y":190.3571491241455,"wires":[["ebd185fa.b2bc88","a2a46cd6.748e"]]},{"id":"19f77a00.fd41c6","type":"function","z":"82925184.363af","name":"humidity","func":"\nmsg= {payload:msg.payload.humidity};\n\nreturn msg;","outputs":"1","noerr":0,"x":821.5713806152344,"y":259.64288234710693,"wires":[["f7314b65.8c18f8","c9d9f493.837778"]]},{"id":"e366ec9e.9745a","type":"function","z":"82925184.363af","name":"voltage","func":"\nmsg= {payload:msg.payload.information.voltage};\n\nreturn msg;","outputs":"1","noerr":0,"x":105.21417236328125,"y":839.5713195800781,"wires":[["ac9a0845.226f08"]]},{"id":"ac9a0845.226f08","type":"switch","z":"82925184.363af","name":"low voltage","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"500","vt":"str"}],"checkall":"true","outputs":1,"x":256.4998779296875,"y":836.7142028808594,"wires":[["c24daa15.b0e8d8"]]},{"id":"c24daa15.b0e8d8","type":"template","z":"82925184.363af","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"電壓: {{payload}} 過低!","x":402.678466796875,"y":837.1427612304688,"wires":[["7a6c4d2b.f060b4"]]},{"id":"7a6c4d2b.f060b4","type":"ui_toast","z":"82925184.363af","position":"top right","displayTime":"3","outputs":0,"ok":"","cancel":"","topic":"","name":"","x":559.2142333984375,"y":838.6427612304688,"wires":[]},{"id":"c6827fd7.15c19","type":"debug","z":"82925184.363af","name":"","active":false,"console":"false","complete":"payload","x":317.00001525878906,"y":49,"wires":[]},{"id":"ec6a546c.265678","type":"function","z":"82925184.363af","name":"pressure","func":"\nmsg= {payload:msg.payload.pressure};\n\nreturn msg;","outputs":"1","noerr":0,"x":816.7713317871094,"y":91.07140350341797,"wires":[["cf12ee4d.4d3ee","ba387f2a.742f"]]},{"id":"dce6b5da.b45d68","type":"function","z":"82925184.363af","name":"light","func":"\nmsg= {payload:msg.payload.light};\n\nreturn msg;","outputs":"1","noerr":0,"x":810.9141273498535,"y":135.35714530944824,"wires":[["341cf28b.e38b2e","75416208.36059c"]]},{"id":"ce6d37c9.6fe898","type":"function","z":"82925184.363af","name":"rain","func":"\nmsg= {payload:(1023-msg.payload.rain)};\n\nreturn msg;","outputs":"1","noerr":0,"x":815.4642944335938,"y":405.1071767807007,"wires":[["fa667880.cc9938","f62c84de.2df238"]]},{"id":"bbdfadab.a271a","type":"function","z":"82925184.363af","name":"uv","func":"\nmsg= {payload:msg.payload.uv};\n\nreturn msg;","outputs":"1","noerr":0,"x":816.7499656677246,"y":335.82145404815674,"wires":[["dd3649e2.1d4de8","95a9eb05.243058"]]},{"id":"ebd185fa.b2bc88","type":"ui_gauge","z":"82925184.363af","name":"溫度表","group":"bae05f18.96c6d","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"度","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"x":985.0714950561523,"y":176.74997234344482,"wires":[]},{"id":"a2a46cd6.748e","type":"ui_chart","z":"82925184.363af","name":"線性圖","group":"bae05f18.96c6d","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":985.3572959899902,"y":212.89287281036377,"wires":[[],[]]},{"id":"cf12ee4d.4d3ee","type":"ui_gauge","z":"82925184.363af","name":"壓力表","group":"a9c23cf1.97bce","order":0,"width":0,"height":0,"gtype":"compass","title":"","label":"mb","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"x":982.8651428222656,"y":30.27342987060547,"wires":[]},{"id":"ba387f2a.742f","type":"ui_chart","z":"82925184.363af","name":"線性圖","group":"a9c23cf1.97bce","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"950","ymax":"1100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":983.1507606506348,"y":65.55906581878662,"wires":[[],[]]},{"id":"341cf28b.e38b2e","type":"ui_gauge","z":"82925184.363af","name":"照明表","group":"2234f3b4.78b5dc","order":0,"width":0,"height":0,"gtype":"wave","title":"","label":"lux","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"x":982.2936210632324,"y":104.41628551483154,"wires":[]},{"id":"75416208.36059c","type":"ui_chart","z":"82925184.363af","name":"照明線性圖","group":"2234f3b4.78b5dc","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1002.8652839660645,"y":137.98775005340576,"wires":[[],[]]},{"id":"f7314b65.8c18f8","type":"ui_gauge","z":"82925184.363af","name":"濕度表","group":"e4958dd5.76b27","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":985.9286813735962,"y":271.74997997283936,"wires":[]},{"id":"c9d9f493.837778","type":"ui_chart","z":"82925184.363af","name":"濕度線性圖","group":"e4958dd5.76b27","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1006.5001182556152,"y":306.7499990463257,"wires":[[],[]]},{"id":"dd3649e2.1d4de8","type":"ui_gauge","z":"82925184.363af","name":"UV表","group":"8bc6091.41f15f8","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"x":986.0149154663086,"y":341.4325304031372,"wires":[]},{"id":"95a9eb05.243058","type":"ui_chart","z":"82925184.363af","name":"UV線性圖","group":"8bc6091.41f15f8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":994.8721618652344,"y":376.14682388305664,"wires":[[],[]]},{"id":"fa667880.cc9938","type":"ui_gauge","z":"82925184.363af","name":"雨滴表","group":"529b3da5.f9c5e4","order":0,"width":0,"height":0,"gtype":"wave","title":"","label":"","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"x":985.4436950683594,"y":410.71816539764404,"wires":[]},{"id":"f62c84de.2df238","type":"ui_chart","z":"82925184.363af","name":"雨滴線性圖","group":"529b3da5.f9c5e4","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1003.1578063964844,"y":445.7182779312134,"wires":[[],[]]},{"id":"a733cf79.852c3","type":"function","z":"82925184.363af","name":"Get finalList","func":"//node.warn('@@@ save paylaod:');\nvar payload = context.global.devices;\n//node.warn('@@@Get finalList save paylaod :\\n'+JSON.stringify(payload));\nmsg.payload = payload;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":320.857177734375,"y":707,"wires":[["183243b7.57f9ac"]]},{"id":"183243b7.57f9ac","type":"file","z":"82925184.363af","name":"Write File","filename":"public\\data\\finalList.json","appendNewline":true,"createDir":true,"overwriteFile":"true","x":488.857177734375,"y":709,"wires":[]},{"id":"3cd19d77.6dfc52","type":"inject","z":"82925184.363af","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":127,"y":441.9999771118164,"wires":[["67789073.bea9b"]]},{"id":"67789073.bea9b","type":"function","z":"82925184.363af","name":"aa00 tes","func":"\nvar payload = {\"id\":\"ce5d3b77-97b3-4740-90f5-0ff7347993f5\",\"macAddr\":\"04000496\",\"data\":\"aa00560a8d148a0205\",\"buff\":\"2017-01-14T08:35:56.264Z\",\"recv\":\"2017-02-14T09:42:29.000Z\",\"extra\":{\"gwip\":\"192.168.88.193\",\"gwid\":\"00001c497b3b8140\",\"repeater\":\"00000000ffffffff\",\"systype\":4,\"rssi\":-104,\"snr\":20.5}};\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"noerr":0,"x":284.6666564941406,"y":440.6666488647461,"wires":[[]]},{"id":"ef874682.605408","type":"inject","z":"82925184.363af","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114,"y":485.9999771118164,"wires":[["be36182e.e2a7b8"]]},{"id":"be36182e.e2a7b8","type":"function","z":"82925184.363af","name":"aa01 test","func":"msg.payload = {\"id\":\"6a999346-b033-464f-8211-acd2698f4e48\",\"macAddr\":\"040004b8\",\"data\":\"aa014d03f00028185400bd\",\"buff\":\"2017-01-12T04:18:23.197Z\",\"recv\":\"2017-01-12T04:18:22.000Z\",\"extra\":{\"gwip\":\"134.208.228.18\",\"gwid\":\"00001c497b431fa9\",\"repeater\":\"00000000ffffffff\",\"systype\":4,\"rssi\":-107,\"snr\":16.2}};\nreturn msg;","outputs":1,"noerr":0,"x":254,"y":485.9999771118164,"wires":[[]]},{"id":"72479dc4.84fd34","type":"inject","z":"82925184.363af","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":113,"y":524.9999771118164,"wires":[["48918f5a.cbfd3"]]},{"id":"48918f5a.cbfd3","type":"function","z":"82925184.363af","name":"aa02 test","func":"msg.payload = {\"id\":\"f433e770-3ab3-4e8c-a47a-f6c743a5cef8\",\"macAddr\":\"040004b8\",\"data\":\"aa024d000903f5\",\"buff\":\"2017-01-12T04:19:36.514Z\",\"recv\":\"2017-01-12T04:19:36.000Z\",\"extra\":{\"gwip\":\"134.208.228.18\",\"gwid\":\"00001c497b431fa9\",\"repeater\":\"00000000ffffffff\",\"systype\":4,\"rssi\":-108,\"snr\":15.5}};\nreturn msg;","outputs":1,"noerr":0,"x":256,"y":524.9999771118164,"wires":[[]]},{"id":"7c5ac7d5.b37d18","type":"inject","z":"82925184.363af","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132,"y":789,"wires":[["dc65beb7.62107"]]},{"id":"dc65beb7.62107","type":"function","z":"82925184.363af","name":"Clean final List","func":"context.global.devices = {};\n","outputs":1,"noerr":0,"x":315,"y":789,"wires":[[]]},{"id":"e4b1e2ef.bbbb7","type":"inject","z":"82925184.363af","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":141,"y":708,"wires":[["a733cf79.852c3"]]},{"id":"78112ed4.abc7e","type":"comment","z":"82925184.363af","name":"Save final list to file per 5 minutes (auto)","info":"","x":209,"y":672,"wires":[]},{"id":"1c770ace.d330c5","type":"comment","z":"82925184.363af","name":"Clean gobal final List by manul","info":"","x":179,"y":754,"wires":[]},{"id":"b4f27c46.e505d","type":"websocket out","z":"4fbe569e.bb1a28","name":"web socket find - out","server":"18a3a4f3.9871ab","client":"","x":615.0000305175781,"y":114,"wires":[]},{"id":"ad570415.f6ec18","type":"websocket in","z":"4fbe569e.bb1a28","name":"web socket find - in","server":"18a3a4f3.9871ab","client":"","x":95,"y":115.00003051757812,"wires":[["7bfbe2fd.5ac15c"]]},{"id":"7bfbe2fd.5ac15c","type":"function","z":"4fbe569e.bb1a28","name":"Check WS Message","func":"node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    msg.payload = {id:\"init_end\",v:\"ok\"};\n\treturn [msg,null];  \n}else if(obj.id==\"find\"){\n    var mac = obj.v.mac;\n    var option = obj.v.option;\n    var date = obj.v.date;\n    msg.url = \"http://localhost:3000/todos/devices?mac=\"+mac+\"&option=\"+option+\"&mdate=\"+date;\n    node.warn(\"msg.url:\"+msg.url);\n    return [null,msg]; \n}\n","outputs":"2","noerr":0,"x":140,"y":174.99996185302734,"wires":[["e85629a9.9c88f8"],["e0ffcc0.a5b9038"]]},{"id":"e85629a9.9c88f8","type":"debug","z":"4fbe569e.bb1a28","name":"","active":true,"console":"false","complete":"payload","x":350.8369140625,"y":140.1145782470703,"wires":[]},{"id":"e0ffcc0.a5b9038","type":"http request","z":"4fbe569e.bb1a28","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":338,"y":182.11458587646484,"wires":[["d985726d.2e1a8"]]},{"id":"d985726d.2e1a8","type":"function","z":"4fbe569e.bb1a28","name":"Parse(view data)","func":"var rows = 0;\nvar debug = true;\nvar rows = msg.payload;\n\n//var type = context.global.selectedType;\nif(debug){\n    node.warn(\"Parse(view data)  length : \"+rows.length);\n    node.warn(\"Parse(view data)  type : \"+JSON.stringify(rows));\n}\nvar mItem = 1;\nvar array = [];\n//console.log( 'Last Device Information \\n '+JSON.stringify( mObj));\n\n\n\nfor (var i=0;i<rows.length;i++)\n{\n  array.push(getArray(rows[i],mItem));\n  mItem++;\n}\nvar dataString = JSON.stringify(array);\nif(array.length===0){\n    node.warn('empty array');\n    dataString =null;\n}\nif(debug){\n    node.warn('**** final array = '+dataString);\n}\n\nmsg.payload = {id:\"change_table\", v: dataString};\nreturn msg;\n\n\n//function----------------------------------------\nfunction getArray(obj,item){\n    var index = obj.index;\n    if(debug){\n        node.warn('getArray start ------------------------------');\n        node.warn('obj :'+JSON.stringify(obj));\n        node.warn('index :'+index);\n    }\n    var arr = [];\n    /*if(item<10){\n        arr.push('0'+item);\n    }else{\n        arr.push(item.toString());\n    }*/\n    \n\n    if(index === 'aa00'){\n        \n        arr.push(obj.info.temperature);\n        arr.push(obj.info.humidity);\n        if( obj.info.voltage < 350){\n            arr.push(low_power(obj.info.voltage));\n        }else{\n            arr.push(normal(obj.info.voltage));\n        }\n        //arr.push(obj.info.voltage);\n    }else if(type === 'aa01'){\n        arr.push(obj.information.pressure);\n        arr.push(obj.info.temperature);\n        arr.push(obj.info.humidity);\n        arr.push(obj.information.light);\n        arr.push(obj.info.uv);\n        arr.push(obj.info.rain);\n    }\n\n    arr.push(obj.time);\n    if(debug){\n         node.warn('arr = '+arr.length + '\\n'+JSON.stringify(arr));\n    }\n    return arr ;\n}\n\nfunction normal(v){\n    var normal = '<button type=\"button\" class=\"btn btn-success btn-sm\" >'+v+'(正常)</button>';\n    return normal;\n}\n\nfunction low_power(v){\n    var low_power = '<button type=\"button\" class=\"btn btn-danger btn-sm\" >'+v+'(低電壓)</button>';\n    return low_power;\n}\n","outputs":1,"noerr":0,"x":516,"y":182.11458587646484,"wires":[["b4f27c46.e505d"]]},{"id":"d66fb0fd.9fa55","type":"function","z":"37232aee.727b46","name":"Updata DB format","func":"var debug = context.global.debug;\nvar deviceDbTools = context.global. deviceDbTools;\nvar moment = context.global.momentModule;\nnode.warn('Updata DB format');\n\n\ndeviceDbTools.findAllDevices(function(err,devices){\n    if(err){\n        console.log(err);\n    }\n    for(var i = 0; i < devices.length; i++){\n        if(debug){\n            node.warn('devices ('+i+'): '+devices[i]);\n        }\n        \n        if(isTarget(devices[i])){\n            /*Find delete target*/\n\n            if(debug){\n                node.warn('Updata DB format delete: '+devices[i].macAddr + ', type :'+devices[i].index);\n                break;\n            }\n            delDeviceById(devices[i]);\n           \n        }else{\n            if(debug){\n                node.warn('Updata DB format update: '+devices[i].macAddr + ', type :'+devices[i].index)\n            }\n            if(devices[i].info.data0){\n                //console.log('info : '+devices[i].info);\n                updateDevice(devices[i]);\n            }\n        }\n    }\n});\n\nfunction isTarget(device){\n    var mac = device.macAddr;\n    if(mac === '040004b8'){\n        return true;\n    }else{\n        return false;\n    }\n}\n\nfunction updateDevice(device){\n    var mInfo = {};\n    //console.log('@@@@ device info:'+JSON.stringify(device.info));\n    var mData = device.data;\n    var mType =  mData.substring(0,4);\n    if(mType === 'aa00'){\n        mInfo.temperature  = device.info.data0;\n        mInfo.humidity     = device.info.data1;\n        mInfo.voltage      = device.info.data2;\n    }else if(mType === 'aa03'){\n        mInfo.frmaldehyde  = device.info.data0;\n        mInfo.co2          = device.info.data1;\n        mInfo.temperature  = device.info.data2;\n        mInfo.humidity     = device.info.data3;\n        mInfo.co           = device.info.data4;\n        mInfo.pm10         = device.info.data5;\n        mInfo.pm25         = device.info.data6;\n        mInfo.tvoc         = device.info.data7;\n    }else if(mType === 'aa01'){\n        mInfo.pressure     = device.info.data0;\n        mInfo.temperature  = device.info.data1;\n        mInfo.humidity     = device.info.data2;\n        mInfo.light        = device.info.data3;\n        mInfo.uv           = device.info.data4;\n        mInfo.rain         = device.info.data5;\n    }\n    var momObj = moment(device.recv_at);\n    var mTime =  momObj.format('YYYY-MM-DD HH:mm:ss');\n    var json = {info:mInfo,time:mTime};\n    deviceDbTools.updateDeviceData(device._id,json);\n}\n\nfunction saveDevice(device){\n    console.log('mac : '+ device.macAddr);\n    console.log('data : '+ device.data);\n    console.log('recv_at : '+ device.recv_at);\n    deviceDbTools.saveDevice(device.macAddr,device.data,device.recv_at,function(err,info){\n        console.log('Debug save Device -----------------------------');\n        if(err){\n            console.log('Debug save Device fail : '+err);\n            return;\n        }\n        console.log('Debug save Device success ');\n        console.log('Debug info.voltage : '+info.data4);\n    });\n    delDeviceById(device._id);\n}\n\nfunction delDeviceById(device){\n    var _id = device._id;\n    console.log('_id : '+ _id);\n    deviceDbTools.removeDeviceById(_id,function(err,result){\n        console.log('Debug remove Device By Id -----------------------------');\n        if(err){\n            console.log('Debug remove Device By Id fail : '+err);\n        }\n        console.log('Debug remove Device By Id success ');\n    });\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":388.75,"y":116,"wires":[[]]},{"id":"39548735.f76b18","type":"inject","z":"37232aee.727b46","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":176,"y":115.5,"wires":[["d66fb0fd.9fa55"]]},{"id":"8197a4ce.713458","type":"function","z":"82925184.363af","name":"parse data","func":"var msgTools = context.global.msgTools;\nvar parseData = msgTools.parseMsg(msg.payload) ;\n\nif(parseData === null){\n    node.warn('parse fail');\n    return;\n}else{\n    node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":297.300048828125,"y":109.26667022705078,"wires":[["2d873981.59a6d6"]]},{"id":"b12be0f5.a203b","type":"function","z":"82925184.363af","name":"Save Data","func":"var debug = context.global.debug;\nvar deviceDbTools = context.global.deviceDbTools;\nvar obj = msg.payload;\nnode.warn('final payload : \\n'+JSON.stringify(obj.information));\ndeviceDbTools.saveDeviceMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(true){\n        deviceDbTools.findLastDeviceByMac(obj.mac,function(err,device){\n\t\tif(err){\n\t\t\tnode.warn(err);\n\t\t}\n\t\tif(true){\n\t\t\tnode.log('new device : \\n'+device);\n\t\t}\n\t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":620.4000625610352,"y":88.9333267211914,"wires":[[]]},{"id":"2d873981.59a6d6","type":"switch","z":"82925184.363af","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"cont","v":"aa00","vt":"str"},{"t":"cont","v":"aa01","vt":"str"},{"t":"cont","v":"aa02","vt":"str"}],"checkall":"true","outputs":3,"x":443.566650390625,"y":153.79995727539062,"wires":[["b12be0f5.a203b"],["cb2aefb8.72c69"],["17515aa5.314175"]]},{"id":"f349d95e.d80ad8","type":"function","z":"82925184.363af","name":"test type","func":"msg.payload = {\"mac\":\"040004b8\",\"data\":\"aa022b000903f7\",\"recv\":\"2017-02-15T06:33:20.000Z\",\"date\":\"2017/02/15 14:33:20\",\"extra\":{\"gwid\":\"00001c497b431f8e\",\"rssi\":-108,\"snr\":17.5},\"information\":{\"uv\":9,\"rain\":1015},\"timestamp\":\"2017-02-15T06:33:20.000Z\",\"type\":\"aa02\"};\nreturn msg;","outputs":1,"noerr":0,"x":301.16668701171875,"y":197.80004119873047,"wires":[["2d873981.59a6d6"]]},{"id":"64e3d771.66ccd8","type":"inject","z":"82925184.363af","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107.16667175292969,"y":198.26668548583984,"wires":[["f349d95e.d80ad8"]]},{"id":"cb2aefb8.72c69","type":"function","z":"82925184.363af","name":"氣象裝置01信息","func":"node.warn('msg.payload.information:'+JSON.stringify( msg.payload.information) );\nmsg.payload = msg.payload.information;\nreturn msg;","outputs":1,"noerr":0,"x":627.9335021972656,"y":174.93331146240234,"wires":[["ec6a546c.265678","dce6b5da.b45d68","63b60758.018ec8","19f77a00.fd41c6"]]}]